{
  "include": [
    "src/*.ts",
    "src/**/*.ts"
  ],
  "exclude": [
    "src/index.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "json",
    "html",
    "lcov",
    "text-summary"
  ],
  "all": true
}
